<app-hero [title]="pageTitle" />

@if (categories()) {
<div class="service1-section-area sp2">
  <div class="container">
    <div class="row">
      @for (category of categories(); track category.slug) {
        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
          <div (click)="viewCategory(category)" [class.selected]="activeCategory() === category.slug"
            style="cursor: pointer;">
            <app-category-card [category]="category" />
          </div>
        </div>
      }
    </div>
  </div>
</div>
}