<div [class]="mobileMenuClass">
    <div class="offcanvas" [ngClass]="{ 'offcanvas-open': isMobileMenuOpen }">
        <div class="offcanvas-wrapper">
            <div class="offcanvas-header d-flex justify-content-between align-items-center mb-90">
                <div class="offcanvas-logo">
                    <a routerLink="/"><img src="assets/img/logo/Imposter-Coding-Logo.png" alt=""></a>
                </div>
                <div class="offcanvas-close">
                    <button class="offcanvas-close-toggle" (click)="toggleMobileMenu()"><i
                            class="fa-solid fa-xmark"></i></button>
                </div>
            </div>

            <div class="offcanvas-menu d-lg-none mb-40">
                <nav>
                    <ul>
                        @for (item of megaMenu; track $index) {
                        <li class="has-dropdown" [ngClass]="{ 'active': menuOpen }">
                            <a href="javascript:void(0);" (click)="toggleMenu()">Home
                            </a>

                            <div class="mega-menu" [ngStyle]="{ 'display': menuOpen ? 'block' : 'none' }">
                                <div class="home-menu">
                                    <div class="row gx-3 row-cols-1 row-cols-md-1 row-cols-lg-5">
                                    </div>
                                </div>
                            </div>

                            <button class="menu-close" (click)="toggleMenu()">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </li>
                        }
                        @for (item of menu; track $index) {
                        <li class="has-dropdown" [ngClass]="{ ' active': item.isOpen }">
                            <a *ngIf="item.link" [routerLink]="item.link" (click)="toggleSubMenu(item)">
                                {{ item.title }}
                            </a>
                            <a *ngIf="!item.link" href="javascript:void(0)" (click)="toggleSubMenu(item)">
                                {{ item.title }}
                            </a>

                            @if (item.subMenu) {
                            <ul class="sub-menu" [ngStyle]="{ 'display': item.isOpen ? 'block' : 'none' }">
                                @for (subItem of item.subMenu; track $index) {
                                <li>
                                    @if(subItem.subMenu){
                                    <a href="javascript:void(0);" class="span-arrow"
                                        (click)="toggleSubMenu(subItem, $event)">
                                        {{ subItem.title }}
                                    </a>
                                    <ul class="sub-menu menu1" [ngClass]="{ 'd-block': subItem.isOpen }">
                                        @for (subSubItem of subItem.subMenu; track $index) {
                                        <li>
                                            <a [href]="subSubItem.link">{{ subSubItem.title }}</a>
                                        </li>
                                        }
                                    </ul>

                                    <button class="menu-close" (click)="toggleSubMenu(subItem, $event)"><i
                                            class="fas fa-chevron-right"></i></button>
                                    }@else{
                                    <a [href]="subItem.link">{{ subItem.title }}</a>
                                    }
                                </li>
                                }
                            </ul>
                            <button class="menu-close" (click)="toggleSubMenu(item, $event)"><i
                                    class="fas fa-chevron-right"></i></button>
                            }
                        </li>
                        }
                    </ul>
                </nav>
            </div>

            <div class="space20"></div>
            <div class="offcanvas-theme-toggle">
                <h3 class="offcanvas-sm-title">Theme</h3>
                <div class="space20"></div>
                <app-theme-toggle />
            </div>
            
            <div class="space20"></div>
            <div class="offcanvas-info">
                <h3 class="offcanvas-sm-title">Contact Us</h3>
                <div class="space20"></div>
                <span><a href="javascript:void(0)"> <i class="fa-regular fa-envelope"></i> +57 9954 6476</a></span>
                <span><a href="javascript:void(0)"><i class="fa-solid fa-phone"></i> hello&#64;exdos.com</a></span>
                <span><a href="javascript:void(0)"><i class="fa-solid fa-location-dot"></i> Bhemeara,Kushtia</a></span>
            </div>
            <div class="space20"></div>
            <div class="offcanvas-social">
                <h3 class="offcanvas-sm-title">Follow Us</h3>
                <div class="space20"></div>
                <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
            </div>

        </div>
    </div>
    <div class="offcanvas-overlay" [ngClass]="{ 'offcanvas-overlay-open': isMobileMenuOpen }"
        (click)="toggleMobileMenu()"></div>
</div>