@if (post()) {
  <app-hero [title]="post().title" />
  <div class="blog-details-section sp-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 m-auto">
          <div class="blog-others-sidebar">
            <div class="img1">
              <img [src]="post().featured_image" [alt]="post().title" />
            </div>
            <div class="space32"></div>
            <ul class="list-author">
              @if (post().readingTime) {
                <li class="list-item-reading-time">
                  🕒 {{ post().readingTime }}
                </li>
              }

              <li class="list-item-date">
                🗓️ {{ post().updated | date: 'MM/dd/yyyy' }}
              </li>

              @for (tag of post().tags; track tag.slug) {
                <li>
                  <a (click)="selectTag(tag)">{{ tag.name }}</a>
                </li>
              }
            </ul>
            <div class="space20"></div>
            <div class="col-md-12" [innerHTML]="post().body"></div>
            <div class="space20"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
