<div class="inner-page-hero-area"
    style="background-image: url(assets/img/all-images/bg/hero-bg5.png); background-position: center; background-repeat: no-repeat; background-size: cover;">

    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto w-100">
                <div class="inner-header text-center heading1">
                    <h1>{{title}}</h1>
                    <div class="space28"></div>
                </div>
            </div>
        </div>
    </div>
</div>