<div class="blog-v1-leftside">
  <div class="category-list-area">
    <h3>Categories</h3>
    <div class="space10"></div>
    <ul>
      <li *ngFor="let category of categories">
        <a href="javascript:void(0)">{{ category }} <span><i class="fa-solid fa-angle-right"></i></span></a>
      </li>
    </ul>
  </div>

  <div class="space30"></div>

  <!-- <div class="tags-area">
    <h3>Popular Tags</h3>
    <div class="space8"></div>
    <ul>
      <li><a href="javascript:void(0)">#TechSolution</a></li>
      <li><a href="javascript:void(0)">#CloudComputing</a></li>
    </ul>
    <ul>
      <li><a href="javascript:void(0)">#ManagedServices</a></li>
      <li><a href="javascript:void(0)">#BusinessIT</a></li>
    </ul>
    <ul>
      <li><a href="javascript:void(0)">#DataSecurity</a></li>
      <li><a href="javascript:void(0)">#TechForBusiness</a></li>
    </ul>
    <ul>
      <li><a href="javascript:void(0)">#TechUpgrades</a></li>
      <li><a href="javascript:void(0)">#ITInfrastructure</a></li>
    </ul>
  </div>
  <div class="space30"></div> -->
</div>