<div class="hero1-section-area" style="background-image: url(assets/img/all-images/bg/hero-bg5.png);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="hero1-header heading1">
                    <div class="space32"></div>
                    <div class="space32"></div>
                    <div class="space32"></div>
                    <div class="space32"></div>
                    <h1 class="text-anime-style-3 text-center">Imposter Coding</h1>
                    <div class="space32"></div>
                    <div class="space32"></div>
                    <div class="space32"></div>
                    <div class="space32"></div>
                </div>
            </div>
        </div>
    </div>
</div>